body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
}

.bodyindex{

    background-image: url("assets/coche.jpg");

}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

h3{

    font-family: 'Padauk', sans-serif;

}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.titulo {
    color: white;
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'Gravitas One', cursive;
}

.botonprincipal {
    padding: 12px 25px;
    background-color: rgb(185, 184, 184);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.botonprincipal:hover {
    background-color: rgb(119, 119, 119);
    transition: 0.3s;
}

.cuadro {
    border: 4px solid white;
    padding: 50px 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.parent { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    height: 100vh;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gravitas One', cursive;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.div2 {
    grid-area: 2 / 1 / 3 / 6;
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.div2 li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.div2 li a:hover {
    color: black;
}

.div3, .div4, .div5 {
    padding: 20px;
}

.div3 { grid-area: 3 / 1 / 6 / 4; 

    background-image: url("assets/seat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.div4 { grid-area: 3 / 4 / 6 / 5; 

    background-image: url("assets/i30.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.div5 { grid-area: 3 / 5 / 6 / 6; }

.card {
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.card h3 {
    color: rgb(161, 161, 161);
    margin-bottom: 10px;
}
